jax==0.2.18
jaxlib==0.1.70
jaxlie
git+git://github.com/brentyi/jaxfg@master
jax_dataclasses
tqdm
datargs>=0.10.0
fannypack
torch
termcolor
# tensorflow is needed for tensorboard logging in JAX
tensorflow
types-termcolor
